
/* Actividad en Previa 4 */

body {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-style: italic;
}

p,
span {
  text-align: center;
}

#seccionDatos {
  font-size: 1.4rem;
  color: #373B41;
  width: 50%;
  margin: 0 auto;
  margin-top: 6%;
}

#seccionRedes {
  text-align: center;
  width: 30%;
  margin: 0 auto;
}



/* Actividad en Clase 4 */

a {
  font-weight: 600;
  text-decoration: none;
}

nav ul {
  list-style-type: none;
}

section h2 {
  color: #0BCC7B;
}

.seccion {
  background-color: white;
  width: 50%;
  margin: 0 auto;
  margin-top: 2% !important;
  margin-bottom: 2% !important;
  padding: 2%;
  box-shadow: 0 1px 6px rgb(0 0 0 / 12%), 0 1px 4px rgb(0 0 0 / 24%);
}

#seccionHabilidades table {
  margin: 0 auto;
}

#seccionHabilidades table td {
  text-align: center;
}



/* Actividad en Previa 5 */

#seccionContactenos {
  display: grid;
  grid-template-areas:
    "contacto contacto contacto contacto"
    "dato dato ubicacion ubicacion"
    "formulario formulario mapa mapa";
  column-gap: 25px;
}

#seccionContactenos .título-contacto {
  grid-area: contacto;
}

#seccionContactenos .título-datos {
  grid-area: dato;
}

#seccionContactenos .título-ubicacion {
  grid-area: ubicacion;
}

#seccionContactenos .formulario-contacto {
  grid-area: formulario;
}

#seccionContactenos .div-mapa {
  grid-area: mapa;
}

iframe {
  width: 100%;
  height: 100%;
  border:0;
}



/* Actividad en Clase 5A */

nav ul {
  display: flex;
  justify-content: space-around;
}



/* Actividad en Clase 5B */

address {
  display: flex;
  flex-direction: column;
  align-items: center;
}



/* Actividad en Clase 5C */

form,
form .contenedor-datos,
form .contenedor-edad,
form .contenedor-servicio {
  display: flex;
  flex-direction: column;
}

form {
  row-gap: 10px;
}

