---
const { title } = Astro.props;
---

<section>
  {title && <h2>{title}</h2>}
  <slot />
</section>

<style>
  section {
    margin: 0 auto 32px;
    max-width: 700px;
  }

  h2 {
    line-height: 1.5;
    margin-bottom: 8px;
  }

  @media (width <= 700px) {
    section {
      margin-bottom: 24px;
    }
  }

  @media print {
    section {
      margin-bottom: 12px;
    }
  }
</style>
